/*******w******** 
    
    Name: Eric Kosmolak
    Date: May 23, 2024
    Description: Web Dev 2 Final Project

****************/
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


/*******w******** 
    index.php / General Page 
****************/
html {
    background-color: #5a643a;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

body {
    width: 90%;
    max-width: 1000px;
    background-color: #C2B280;
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1rem;
}

main h1 {
    font-family: "Alfa Slab One", serif;
    text-align: center;
    margin-top: 2rem;
    font-size: 2rem;
}

.index h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    font-weight: 800;
    font-size: 1.875rem;
    padding-left: 1rem;
    padding-bottom: 2rem;
}

.index a {
    text-decoration: none;
}

.index h3 {
    font-family: "Alfa Slab One", serif;
    font-size: 1.375rem;
    font-weight: 500;
    color: #222222;
    margin-bottom: -1rem;
}

.index h3 a {
    color: #222222;
}

.index h3 a:visited {
    color: #222222;
}

.index h3 a:hover {
    color: #5a643a;
}

.index h4 {
    margin-bottom: 0.125rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.index small {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.index p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.125rem;
    font-weight: 500;
}


/*******w******** 
    header.php
****************/
header {
    display: flex;
    justify-content: center;
    height: 15rem;
    width: 100%;
}

/*******w******** 
    nav.php
****************/
nav {
    text-align: center;
    background-image: url("images/navbarpic.png");
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: darken;
    width: 100%;
    height: 3.75rem;
}

nav ul {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    flex: 1;
}

nav li a {
    display: block;
    color: #222222;
    text-decoration: none;
    font-family: "Lilita One", sans-serif;
    font-size: 1.25rem;
    line-height: 3.75rem;
}

nav li a:hover {
    color: #5a643a;
}

/*******w******** 
    fish.php
****************/
.container-py2 h1 {
    font-family: "Alfa Slab One", serif;
    text-align: center;
    margin-top: 2rem;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    color: #222222;
}

.fish h3 {
    font-family: "Alfa Slab One", serif;
    font-size: 1.375rem;
    font-weight: 500;
    color: #5a643a;
}

/*******w******** 
    catchlog.php
****************/
.catchlogtitle a {
    text-decoration: none;
    color: #5a643a;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 0.25rem;
    margin-bottom: 2.5rem;
    font-weight: 800;
}

.catchlogtitle h2:hover {
    color: #222222;
}

.catchlogtitle h2, h2 a {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 0.25rem;
    margin-bottom: 3rem;
    font-weight: 800;
}

.catchlog {
    margin-left: 0.25rem;
}

.catchlog h2 {
    font-family: "Alfa Slab One", serif;
    font-weight: 500;
    font-size: 1.6875rem;
    color: #5a643a;
}

.catchlog h3 {
    font-family: "Alfa Slab One", serif;
    font-size: 1.25rem;
    font-weight: 400;
    color: #5a643a;
    margin-bottom: 0.125rem;
}

.catchlog small, .catchlog a {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #222222;
    font-size: 1rem;
    font-weight: 600;
}

.catchlog a {
    color: #5a643a;
    text-decoration: none;
}

.catchlog a:hover {
    color: #222222;
}

/*******w******** 
    postcatch.php & editcatch.php
****************/
.postcatch-title h1 {
    font-size: 2rem;
    letter-spacing: 0.1rem;
    padding-bottom: 1rem;
}

.postcatch ul {
    list-style: none;
    margin-right: 1rem;
}

.postcatch li {
    margin-bottom: 0.625rem;
}

.postcatch button {
    text-align: center;
}

.postcatch label {
    display: block;
    padding-bottom: 0.625rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.25rem;
    font-weight: 600;
}

/*******w******** 
    masteranglers.php
****************/
.mastertitle h1 {
    padding-bottom: 2rem;
}

/*******w******** 
    reviews.php
****************/
.review-title h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 3rem;
    font-weight: 800;
    text-align: center;
}

.review-title a {
    text-decoration: none;
    color: #5a643a;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 0.25rem;
    margin-bottom: 2.5rem;
    font-weight: 800;
}

.review-title h2:hover {
    color: #222222;
}

.review-post-date small, .review-post-date a {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #222222;
    font-size: 1rem;
    font-weight: 600;
}

.review-post-date a {
    color: #5a643a;
    text-decoration: none;
}

.review-post-date a:hover {
    color: #222222;
}

/*******w******** 
    showreview.php
****************/
.showreviewtitle h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 1.25rem;
    font-size: 1.875rem;
}

.showreview small {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #222222;
    font-size: 1rem;
    font-weight: 600;
}

.showreview p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.125rem;
    font-weight: 500;
}

/*******w******** 
    editreview.php & postreview.php
****************/
.postreview h1 {
    font-size: 2rem;
    letter-spacing: 0.1rem;
    padding-bottom: 1rem;
}

#postreview ul {
    list-style: none;
    margin-right: 1rem;
}

#postreview li {
    margin-bottom: 1.25rem;
}

#postreview button {
    text-align: center;
}

#title input {
    width: 90%;
    max-width: 300px;
}

.reviewbutton input {
    width: 90%;
    max-width: 110px;
}

#postreview textarea {
    width: 90%;
    max-width: 400px;
}

#postreview label {
    display: block;
    padding-bottom: 0.625rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.25rem;
    font-weight: 600;
}

/*******w******** 
    bookstay.php
****************/
.staytitle h1 {
    font-size: 2rem;
    letter-spacing: 0.1rem;
    padding-bottom: 1rem;
}

.staytitle p {
    font-size: 1.1875rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom: 1.5625rem;
    text-align: center;
}

#bookstay ul {
    list-style: none;
    margin-right: 1.25rem;
}

#bookstay li {
    margin-bottom: 0.625rem;
}

.wrapper button {
    text-align: center;
}

#bookstay label {
    display: block;
    margin-bottom: -0.3125rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.25rem;
    font-weight: 600;
}

/*******w******** 
    footer.php
****************/
footer {
    text-align: center;
    font-family: "Holtwood One SC", serif;
    font-weight: 200;
    font-size: 1.5625rem;
    margin-top: 2rem;
    padding: 0.625rem;
    background-color: #C2B280;
    color: #222222;
}

/* Media Queries for Mobile Devices */
@media (max-width: 768px) {
    body {
        width: 100%;
    }

    main h1 {
        font-size: 1.75rem;
    }

    .index h2 {
        font-size: 1.5rem;
    }

    nav li a {
        font-size: 1rem;
    }

    .container-py2 h1 {
        font-size: 2rem;
    }

    .catchlogtitle h2, h2 a {
        font-size: 1.5rem;
    }

    .catchlog h2 {
        font-size: 1.5rem;
    }

    .postcatch-title h1, .postreview h1, .staytitle h1 {
        font-size: 1.75rem;
    }

    #postreview textarea, #title input, .reviewbutton input {
        width: 100%;
    }

    footer {
        font-size: 1.25rem;
    }
}